<a class="pokemon">
  <section class="pokemon_status">
      <h2>
        Bubasaur
    </h2>

    <ul>
        <li>Grass</li>
        <li>Poison</li>
    </ul>
  </section>

  <section class="pokemon_img">
    <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/1.png" alt="Bulbasaur" />

  </section>
</a>
<a class="pokemon">
  <section class="pokemon_status">
      <h2>
        Bubasaur
    </h2>

    <ul>
        <li>Grass</li>
        <li>Poison</li>
    </ul>
  </section>

  <section class="pokemon_img">
    <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/1.png" alt="Bulbasaur" />

  </section>
</a>
